body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
}

